.table {
  thead {
    background: $pink-color;

    th {
      color: #fff !important;
    }
  }

  td {
    b {
      font-size: 16px;
    }
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $shadow-1;
  }

  &__productImg {
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: $shadow-1;
  }

  &__productTotal {
    display: block;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    padding: 16px 0 16px 0;
  }
}

.verify {
  width: 32px;
  height: 32px;
}

.not_processed {
  color: #e3503e;
}

.processing {
  color: #54b7d3;
}

.dispatched {
  color: #1e91cf;
}

.cancel {
  color: #e3d4d4;
}

.completed {
  color: #4cb64c;
}
