.filter {
  padding: 1rem;

  // Category filter comp scss
  h3 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;

    span {
      svg {
        fill: #333;
        width: 10px;
      }
    }
  }

  section {
    ul {
      margin-left: 1rem;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      cursor: pointer;

      input {
        width: 16px;
        height: 16px;
      }

      label {
        font-size: 16px;
      }

      span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        svg {
          width: 10px;
          fill: #333;
        }
      }
    }
  }
  //

  // Size filter comp scss
  &__sizes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_size {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-size: 16px;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }
  //

  // Color filter comp scss
  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        outline: 1px solid #000;
        outline-offset: 2px;
      }

      &:focus {
        outline: 1px solid #000;
        outline-offset: 2px;
      }
    }
  }
  //

  // Brands filter comp scss
  &__brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_brand {
      background: transparent;
      width: 122px;
      height: 36px;
      border-radius: 6px;
      border: 1px solid #ccc;
      display: grid;
      place-items: center;
      cursor: pointer;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
      color: #222;

      &:hover {
        border: 1px solid #000;
      }

      img {
        height: 30px;
        object-fit: contain;
      }
    }
  }
  //

  // Styles filter comp scss
  &__styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_style {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-size: 16px;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }
  //

  // Styles filter comp scss
  &__patterns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_pattern {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-size: 16px;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }
  //

  // Materials filter comp scss
  &__materials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_material {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-size: 16px;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }
  //

  // Gender filter comp scss
  &__genders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;

    &_gender {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      font-size: 16px;
    }

    input {
      width: 16px;
      height: 16px;
    }
  }
  //
}

.activeFilter {
  border: 1px solid #000;
}
