.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";

  // response
  @media (max-width: 1232px) {
    grid-template-columns: 1fr 3fr;
  }

  @media (max-width: 990px) {
    display: block;
  }

  @media (max-width: 730px) {
    grid-template-areas:
      "menu"
      "swiper"
      "offers";
    grid-template-columns: 1fr;

    .menu {
      width: 100% !important;
      height: fit-content !important;

      &__list {
        display: flex;
      }
    }
  }
  //

  .header {
    display: flex;
    align-items: center;
    grid-area: header;
    height: 40px;
    // background: #fff;
    // border-radius: 8px;
    // box-shadow: $shadow-1;

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: $pink-color;

        &:hover {
          transform: translateY(2px);
          transition: 0.2s;
        }
      }
    }
  }

  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 8px;
    box-shadow: $shadow-1;

    // response menu
    @media (max-width: 990px) {
      display: none;
    }

    // @media (max-width: 730px) {
    //   display: block;
    // }
    //

    &__header {
      width: 100%;
      height: 35px;
      background: #f8f8f8;
      border-bottom: 1px solid $pink-color;
      box-shadow: $shadow-2;

      // response menu
      // @media (max-width: 990px) {
      //   svg,
      //   b {
      //     display: none;
      //   }
      // }
      //

      svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
    }

    &__list {
      margin-top: 8px;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        height: 32px;
        cursor: pointer;

        &:hover {
          background: #f8f8f8;
        }

        a {
          display: flex;
          align-items: center;
          gap: 10;
          padding: 0 20px;
          color: #424141;

          svg {
            fill: #8c8484;
            stroke: #8c8484;
          }
        }
      }
    }
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: $shadow-1;
  }

  .offers {
    grid-area: offers;
    height: 220px;
    background: #fff;
    border-radius: 8px;
    box-shadow: $shadow-1;
    background-image: url("../../../public/images/flash-sale.jpg");
    // background-position: -275px -135px;
    // background-repeat: no-repeat;
    // object-fit: cover;
    overflow: hidden;

    @media (max-width: 990px) {
      margin-top: 1rem;
    }
  }

  .user {
    position: relative;
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 8px;
    box-shadow: $shadow-1;

    // response
    @media (max-width: 1232px) {
      display: none;
    }

    //
    &__container {
      padding: 1rem;
    }

    &__infos {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: $shadow-1;
      }

      h4 {
        margin-top: 10px;
        text-transform: capitalize;
      }

      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          width: 100px;
          height: 35px;
          border-radius: 10px;
          cursor: pointer;
          font-weight: 600;

          &:first-of-type {
            background: linear-gradient($pink-color, #0000ff34);
            color: #fff;
          }

          &:last-of-type {
            color: #555;
          }
        }
      }
    }

    &__links {
      margin-top: 9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;

      li {
        width: 40px;
        height: 40px;
        // background: #f8f8f8;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.2s;

        svg {
          width: 30px;
          height: 30px;
          stroke: $pink-color;
        }

        &:hover {
          transform: scale(0.9);
        }

        &:nth-of-type(3),
        &:nth-of-type(4) {
          svg {
            fill: $pink-color;
          }
        }
      }
    }

    // &__footer {
    //   position: absolute;
    //   bottom: 0;
    // }
  }
}
