.btnWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  min-width: 120px;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  color: #222;
  margin-top: 10px;
  transition: all 0.2s ease;

  &__primary {
    background: $pink-color;
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background: $pink-color;
    color: #fff;
  }
}

.header {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 1rem;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;

  .flex {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  span {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }

  img {
    width: 30px;
  }
}

.header__error {
  color: $error-color;
  border-color: $error-color;
}

.error_bg {
  background: $error-color !important;
}
