.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .col {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  form {
    width: 100%;

    button {
      width: 150px;
      height: 50px;
      color: #fff;
      font-weight: 600;
      background: $pink-color;
      cursor: pointer;
      transition: all 0.2s;
      &:active {
        transform: scale(0.95);
      }
    }

    .select {
      width: 220px;
      margin-bottom: 10px !important;
    }
  }
}
