.home {
  min-height: 100vh;
  background: #f8f8f8;

  &__category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  .products {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: $pink-color;
}
